*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

.center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display:flex;
  
}

.header-main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 0px 8px;
  top: 560px;
  left: 0px;
  width: 1920px;
  height: 60px;
  background: #FC525F 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 20px 2%;
  /* justify-content: space-between; */
  
}


.logoMeliuz{
  top: 13px;
  left: 801px;
  width: 81px;
  height: 34px;
  background: transparent url('assets/img/meliuz-logo.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* margin-left: 4px; */
 
}

.logoFotoRegistro{
  top: 13px;
  left: 945px;
  width: 175px;
  height: 34px;
  background: transparent url('assets/img/logo-fr.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* margin-right: 70px; */

  
}